<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-800 flex flex-col items-center justify-center min-h-screen">
    <form class="form flex flex-col px-5 py-4 rounded-md w-95 gap-2 bg-gray-900" method="post" action="/update/<%=user._id%>" >
        <h1 class="font-bold text-white text-center text-xl">Edit Your Profile !</h1>
        <input type="text" class="bg-white rounded-md h-10 focus:outline-none text-black px-3 py-2" name="username" placeholder="User Name" maxlength="20" value="<%= user.username%>"> 
        <input type="email" class="bg-white rounded-md h-10 focus:outline-none text-black px-3 py-2" name="email" placeholder="Email Id" value="<%= user.email%>"> 
        <input type="submit" class="text-white bg-green-500 w-30 mx-auto h-7 rounded-md" value="Save Details"  >
    </form>
</body>
</html>